<div class="product-details-container">
    <div class="product-details-main">

        <div class="product-details-image"><img src="https://picsum.photos/300" alt=""></div>
        <div class="product-details-informations">


                <div>

                    <div class="product-details-informations-item-description">Item description</div>  
                    <div class="spacer"></div>
                    <div>Quantidade</div>               
                    <div class="product-details-informations-qtd"><button class="product-details-informations-qtd-buttons" (click)="addQtd()">+</button><input type="text" value="{{qtd}}" class="product-details-informations-price" disabled/><button class="product-details-informations-qtd-buttons" (click)="rmvQtd()">-</button></div>
                    
                
                </div>
                <div>
                    <h1>R$100</h1>
                    <button class="product-details-informations-buy-button">COMPRAR</button>   

                </div>


        </div>

    </div>
</div>