.product-list {

    display: flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;

}

.product {

    flex-basis:25%;
    padding: 20px;
    margin-bottom: 20px;
    border: .2px solid gainsboro;    

}

.product-description{
    margin: 10px 0;

}

.product-price{

    font-size: 20px;
    margin: 10px 0;

}

.add-to-cart-button{

    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-size: 20px;

}

.add-to-cart-button:hover{

    cursor: pointer;

}